[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Biology
Exec=pencilbox
Icon=biology.png
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true

# vi:set encoding=UTF-8:
