[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Biology
Exec=pencilbox --subject biology
Icon=pencilbox-biology
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
