[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Chemistry
Exec=pencilbox --subject chemistry
Icon=pencilbox-chemistry
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
