[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=English
Exec= pencilbox --subject english
Icon=pencilbox-english
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
