[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Mathematics
Exec=pencilbox --subject mathematics
Icon=pencilbox-maths
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
