[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Physics
Exec=pencilbox --subject physics
Icon=pencilbox-physics
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
